<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.program.mapper.DtsMemberManagementMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.program.entity.DtsMemberManagement">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="BIGINT"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="userlevel" property="userlevel" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="BIGINT"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
        <result column="is_delete" property="isDelete" jdbcType="BIGINT"/>
    </resultMap>
    <insert id="insertDtsMemberManagement">
        insert into dts_member_management(username,
                                          number,
                                          gender,
                                          userlevel,
                                          state,
                                          created_by,
                                          created_time,
                                          updated_by,
                                          updated_time,
                                          is_delete)
        values (#{username},
                #{number},
                #{gender},
                #{userlevel},
                #{state},
                #{createdBy},
                #{createdTime},
                #{updatedBy},
                #{updatedTime},
                #{isDelete})
    </insert>
    <update id="updateMemberManagement">
        update dts_member_management
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="number != null">
                number = #{number},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="userlevel != null">
                userlevel = #{userlevel},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    <select id="selectDtsMemberManagementAll" resultMap="BaseResultMap">
        select id,
               username,
               number,
               gender,
               userlevel,
               state,
               created_by,
               created_time,
               updated_by,
               updated_time,
               is_delete
        from dts_member_management
    </select>
    <select id="selectDtsMemberManagementByNameOrNumberFuzzy" resultMap="BaseResultMap">
        select id,
               username,
               number,
               gender,
               userlevel,
               state,
               created_by,
               created_time,
               updated_by,
               updated_time,
               is_delete
        from dts_member_management
        where username like concat('%', #{username}, '%')
           or number like concat('%', #{number}, '%')
    </select>
    <select id="selectDtsMemberManagementByType" resultMap="BaseResultMap">
        select id,
               username,
               number,
               gender,
               userlevel,
               state,
               created_by,
               created_time,
               updated_by,
               updated_time,
               is_delete
        from dts_member_management
    </select>
</mapper>